<section class="fo">
	<div class="footer-content-final">
	  <div class="logo-final">
		<img src="../../../../assets/images/RidhitekLogo.png" alt="logo">
		<!-- <h2>RIDHI<span>TEK</span></h2> -->
	  </div>
	  <div class="social-icons-final">
		<!-- Insert your social media icons here -->
		<a href="https://www.facebook.com/login.php/" target="_blank"><i  class="fab fa-facebook-f"></i></a>
		<a href="https://twitter.com/i/flow/login" target="_blank"><i class="fab fa-twitter"></i></a>
		<a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fab fa-instagram"></i></a>
		<a href="https://www.linkedin.com/uas/login-submit" target="_blank"><i class="fab fa-linkedin"></i></a>
		<a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
	  </div>
	  <div class="copyright-final">
		{{allData[21]?.Copyrights}}
	  </div>
	</div>
</section>