<div class="containerSpec">
  <section class="top-center" data-aos="fade-up" data-aos-duration="1000">
    <div class="headingSpe">
      <h2>{{allData[9]?.Specialization}}</h2>
    </div>
    <div class="contentspe">
      <p>{{allData[9]?.SpecializationHeadContent}}</p>
    </div>
  </section>

  <div class="cards">
    <div class="cardSpe" data-aos="fade-up" data-aos-duration="1000">
      <h3>{{allData[9]?.Postilion}}</h3>
      <p>{{allData[9]?.PostilionCotent}}</p>
    </div>

    <div class="cardSpe" data-aos="fade-up" data-aos-duration="1000">
      <!-- <div class="wave wave-one"></div>
      <div class="wave wave-two"></div>
      <div class="wave wave-three"></div> -->
      <h3>{{allData[9]?.Wavemaker}}</h3>
      <p>{{allData[9]?.WavemakerContent}}</p>
    </div>

    <div class="cardSpe" data-aos="fade-up" data-aos-duration="1000">
      <h3>{{allData[9]?.VisionPLUS}}</h3>
      <p>{{allData[9]?.VisionPLUSContent}}</p>
    </div>
  </div>
</div>
