<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<section class="sectionWholeDomain">

<div class="wrapperDomain" id="servicesSection"> 
    <i id="left" class="fa-solid  fas fa-angle-left"></i> 
    <div class="DomainsHead">
        <h1>{{allData[5]?.Domains}}</h1>
        <h6>{{allData[5]?.DomainsHedaContent}}</h6>
    </div>
    <ul class="carouselDomain"  > 
        <li class="cardDomain"> 
           <div class="img"><img src= 
"../../../../assets/images/Payment image.png" 
                                  alt="" draggable="false"> </div> 
              <h2> 
                {{allData[5]?.Payments}} 
              </h2> 
            <span data-aos="fade-up"
            data-aos-duration="1000">{{allData[5]?.PaymentsContent}}</span> 
        </li> 
        <li class="cardDomain"> 
            <div class="img"><img src= 
"../../../../assets/images/Cards image.png" 
                                  alt="" draggable="false"> </div> 
            <h2 >{{allData[5]?.Cards}}</h2> 
            <span data-aos="fade-up"
            data-aos-duration="1000">{{allData[5]?.CardsContent}}</span> 
        </li> 
        <li class="cardDomain"> 
            <div class="img"><img src= 
"../../../../assets/images/Core banking image.png" 
                                  alt="" draggable="false"> </div> 
            <h2 >{{allData[5]?.CoreBanking}}</h2> 
            <span data-aos="fade-up"
            data-aos-duration="1000">{{allData[5]?.CoreBankingContent}}</span> 
        </li> 
        <li class="cardDomain"> 
            <div class="img"><img src= 
"../../../../assets/images/Payment image.png" 
                                  alt="" draggable="false"> </div> 
            <h2 >{{allData[5]?.Payments}}</h2> 
            <span data-aos="fade-up"
            data-aos-duration="1000">{{allData[5]?.PaymentsContent}}</span> 
        </li> 
        <li class="cardDomain"> 
            <div class="img"><img src= 
"../../../../assets/images/Cards image.png" 
                                  alt="" draggable="false"> </div> 
            <h2 >{{allData[5]?.Cards}}</h2> 
            <span data-aos="fade-up"
            data-aos-duration="1000">{{allData[5]?.CardsContent}}</span>  
        </li> 
        <li class="cardDomain"> 
            <div class="img"><img src= 
"../../../../assets/images/Core banking image.png" 
                                  alt="" draggable="false"> </div> 
            <h2 >{{allData[5]?.CoreBanking}}</h2> 
            <span data-aos="fade-up"
            data-aos-duration="1000">{{allData[5]?.CoreBankingContent}}</span> 
        </li> 
    </ul> 
    <i id="right" class="fa-solid fas fa-angle-right"></i> 
</div> 
</section>
