<!-- For Mobile -->
<div class="allteams">
  <section class="SectionOfAboutTeams">
    <span data-aos="zoom-in" data-aos-duration="1000">{{allData[15]?.MEETOUR}}</span>
    <h2 data-aos="zoom-in" data-aos-duration="1000">{{allData[15]?.Team}}</h2>
    <p data-aos="fade-up" data-aos-duration="1000">{{allData[15]?.TeamContent}}</p>
    <div class="totalC">
      <div class="cardAboutTeams" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../../../assets/images/01-removebg-preview (1) (1).png" alt="Franklin Carlson">
        <div class="card-content-AboutTeams">
          <h3 data-aos="fade-up" data-aos-duration="1000">{{allData[15]?.BALA}}</h3>
          <p data-aos="fade-up" data-aos-duration="1000">{{allData[15]?.Founder}}</p>
          <ul data-aos="fade-up" data-aos-duration="1000">
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="cardAboutTeams" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../../../assets/images/3-e1699566861685-removebg-preview-removebg-preview_LE_auto_x2_colored_toned_no_background-transformed.png" alt="Franklin Carlson">
        <div class="card-content-AboutTeams" data-aos="fade-up" data-aos-duration="1000">
          <h3>{{allData[15]?.JAGDISH}}</h3>
          <p>{{allData[15]?.HeadGlobal}}</p>
          <ul>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="cardAboutTeams" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../../../assets/images/5-removebg-preview_LE_auto_x2_colored_toned_light_ai_no_background-transformed.png" alt="Travis Lynch">
        <div class="card-content-AboutTeams" data-aos="fade-up" data-aos-duration="1000">
          <h3>{{allData[15]?.DEVA}}</h3>
          <p>{{allData[15]?.DeliveryHead}}</p>
          <ul>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- For WEB  -->
<div id="slider"> 
  <div class="dp-wrap"> 
    <div class="teamsnewcontent">
      <h1>MEET OUR TEAM</h1>
      <p>A diverse ensemble of talent, united in purpose and passion. Together, we're shaping the future with creativity and collaboration. Get acquainted with the driving force behind our success!</p>
     </div>
    <div id="dp-slider">
      <div class="dp_item" data-class="1" data-position="1">
          <div class="dp-content">
            
            <h2>Bala M </h2>
            <p>Founder & Director</p>
            <p class="contentofteam">Bala is the founder of UniqueHire and having 2 decades of IT industry experience in both Contract staffing and Corporate Hiring .</p>
            <p class="contentofteam"> He has provided the vision and leadership that facilitated the successful establishment of UniqueHire as a leading staffing company.</p>
            <p class="contentofteam">Before founding UniqueHIre, He worked with ATTRA, iGATE and IBM.</p>
            <p class="contentofteam">Under his dynamic leadership Uniquehire is grown from 4 members team to 500 employee company in span of 3 years and helping Uniquehire to transform staffing to IT Services company. </p>
          </div>
        <div class="dp-img">
          <img class="img-fluid" src="../../../../assets/images/01-removebg-preview (1) (1).png" alt="investing">
        </div>
      </div>

      <div class="dp_item" data-class="2" data-position="2">
        <div class="dp-content">
          
          <h2>Jagdish Salian</h2>
          <p>Director & Head Global Business Development</p>
          <p class="contentofteam">Jagdish Salian is Director & Head Global Business Development at Unique Hire with a core mandate to drive revenues, expand into newer Geos / markets and enable the development of UniqueHire as a global brand.</p>
          <p class="contentofteam">With extensive experience of over 22+ years in the IT Products & Services Sector.</p>
          <p class="contentofteam">He has led P&L in all his previous engagements and comes with a high intellect and data-driven approach. </p>
          <p class="contentofteam">Jagdish has developed, nurtured and grown businesses in India, SEA and Middle East markets.

          </p>
        </div>
        <div class="dp-img">
          <img class="img-fluid" src="../../../../assets/images/3-e1699566861685-removebg-preview-removebg-preview_LE_auto_x2_colored_toned_no_background-transformed.png" alt="investing">
        </div>
      </div>

      <div class="dp_item" data-class="3" data-position="3">
        <div class="dp-content">
          
          <h2>Devasenapathi</h2>
          <p>Delivery Head – Engineering</p>
          <p class="contentofteam">Deva, Head of Engineering, is a Technical enthusiast over 17 years of experience across IT Services and Product Development.</p>
          <p class="contentofteam">Experience in a senior leadership position responsible for building, motivating and leading high performing development teams.</p>
          <p class="contentofteam"> He is very Passionate about software engineering best practice include agile, TDD, continuous delivery, micro services, measurement and software.</p>
          <p class="contentofteam">He Leads large software engineering teams in the design and development of high-volume, high-performance, media publishing workflow systems and consumer facing products. Interests in coaching, mentoring and team building.</p>
        </div>
        <div class="dp-img">
          <img class="img-fluid" src="../../../../assets/images/5-removebg-preview_LE_auto_x2_colored_toned_light_ai_no_background-transformed.png" alt="investing">
        </div>
      </div>

    
    </div>
    
    <span id="dp-next">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #fff;
              stroke-miterlimit: 10;
              stroke-width: 7px;
            }
          </style>
        </defs>
        <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)"/>
      </svg>
    </span>

    <span id="dp-prev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #fff;
              stroke-miterlimit: 10;
              stroke-width: 7px;
            }
          </style>
        </defs>
        <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)"/>
      </svg>
    </span>

    

    <ul id="dp-dots">
      <li data-class="1" class="active"></li>
      <li data-class="2"></li>
      <li data-class="3"></li>
    </ul>
  </div>
</div>







