<div class="allteams">
  <section class="SectionOfAboutTeams">
    <span data-aos="zoom-in" data-aos-duration="1000">{{allData[15]?.MEETOUR}}</span>
    <h2 data-aos="zoom-in" data-aos-duration="1000">{{allData[15]?.Team}}</h2>
    <p data-aos="fade-up" data-aos-duration="1000">{{allData[15]?.TeamContent}}</p>
    <div class="totalC">
      <div class="cardAboutTeams" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../../../assets/images/01-removebg-preview (1) (1).png" alt="Franklin Carlson">
        <div class="card-content-AboutTeams">
          <h3 data-aos="fade-up" data-aos-duration="1000">{{allData[15]?.BALA}}</h3>
          <p data-aos="fade-up" data-aos-duration="1000">{{allData[15]?.Founder}}</p>
          <ul data-aos="fade-up" data-aos-duration="1000">
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="cardAboutTeams cardback" data-aos="fade-up" data-aos-duration="1000">
        <!-- <img src="src/assets/images/3-e1699566861685-removebg-preview-removebg-preview_LE_auto_x2_colored_toned_no_background-transformed.png" alt="Antonia Moore" style="padding-top:100px;"> -->
        <div class="card-content-AboutTeams" data-aos="fade-up" data-aos-duration="1000">
          <h3>{{allData[15]?.JAGDISH}}</h3>
          <p>{{allData[15]?.HeadGlobal}}</p>
          <ul>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="cardAboutTeams" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../../../assets/images/5-removebg-preview_LE_auto_x2_colored_toned_light_ai_no_background-transformed.png" alt="Travis Lynch">
        <div class="card-content-AboutTeams" data-aos="fade-up" data-aos-duration="1000">
          <h3>{{allData[15]?.DEVA}}</h3>
          <p>{{allData[15]?.DeliveryHead}}</p>
          <ul>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
