<section id="advertisers" class="advertisers-service-sec">
    <div class="ContainerOFService">
      <div class="row">
        <div class="section-header text-center" data-aos="fade-up" data-aos-duration="1000">
          <h2 class="fw-bold fs-1" style="color: #ffffff;">
            <span class="b-class-secondary"></span>{{allData[7]?.OSer}}
          </h2>
          <p class="sec-icon"><i class="fa-solid fa-gear" style="color: #ffffff;"></i></p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 justify-content-center TotalCards">
        <!-- Left side single card -->
        <div class="col-md-6" data-aos="flip-left">
          <div class="ApplicationCARD service-card">
            <div class="wave wave-one"></div>
            <div class="wave wave-two"></div>
            <div class="wave wave-three"></div>
            <h1 class="ApplicationDev">{{allData[7]?.ADev}}<br>{{allData[7]?.Development}}</h1>
            <div class="icon-wrapper">
              <!-- <i class="fa-solid fa-chart-line"></i> -->
              <img src="../../../../assets/images/Application development.png" alt="">
            </div>
          </div>
        </div>
        <!-- Right side 4 cards -->
        <div class="col-md-6">
          <div class="row" data-aos="flip-right">
            <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.FEDevelopment}}<br>{{allData[7]?.Development}}</h3>
                <div class="icon-wrapper">
                  <!-- <i class="fa-solid fa-arrows-down-to-people"></i> -->
                  <img src="../../../../assets/images/Front End Development.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.Qua}}<br>{{allData[7]?.Assurance}}</h3>
                <div class="icon-wrapper">
                  <!-- <i class="fa-solid fa-globe"></i> -->
                  <img src="../../../../assets/images/Quality.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row" data-aos="flip-right">
            <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.APIDev}}<br>{{allData[7]?.Development}}</h3>
                <div class="icon-wrapper">
                  <!-- <i class="fa-solid fa-money-check-dollar"></i> -->
                  <img src="../../../../assets/images/API.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.DevOps}}<br><span class="DevOpsDuplicate">{{allData[7]?.DevOps}}</span></h3>
                <div class="icon-wrapper">
                  <!-- <i class="fa-regular fa-circle-check"></i> -->
                  <img src="../../../../assets/images/Devops.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  