<section id="advertisers" class="advertisers-service-sec">
    <div class="ContainerOFService">
      <div class="row">
        <div class="section-header text-center" data-aos="fade-up" data-aos-duration="1000">
          <h2 class="fw-bold fs-1" style="color: #ffffff;">
            <span class="b-class-secondary"></span>{{allData[7]?.OSer}}
          </h2>
          <p class="sec-icon"><i class="fa-solid fa-gear" style="color: #ffffff;"></i></p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 justify-content-center TotalCards">
        <!-- Left side single card -->
        <div class="col-md-6 singlecardofser" data-aos="flip-left">
          <div class="ApplicationCARD service-card">
            <!-- <div class="wave wave-one"></div>
            <div class="wave wave-two"></div>
            <div class="wave wave-three"></div> -->
            <h1 class="ApplicationDev">{{allData[7]?.ADev}}<br>{{allData[7]?.Development}}</h1>
            <div class="icon-wrapper">
              <!-- <i class="fa-solid fa-chart-line"></i> -->
              <img src="../../../../assets/images/Application development.png" alt="">
            </div>
            <p style="padding: 10px 50px 0px 50px;"> Whether you require a mobile app to reach customers on the go, a web application to streamline internal operations, or a custom software solution to automate tasks, our team has the expertise to bring your vision to life.</p>
          </div>
        </div>
        <!-- Right side 4 cards -->
        <div class="col-md-6 fourcardofser">
          <div class="row" data-aos="flip-right">
            <!-- <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.FEDevelopment}}<br>{{allData[7]?.Development}}</h3>
                <div class="icon-wrapper">
                 
                  <img src="../../../../assets/images/Front End Development.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.Qua}}<br>{{allData[7]?.Assurance}}</h3>
                <div class="icon-wrapper">
           
                  <img src="../../../../assets/images/Quality.png" alt="">
                </div>
              </div>
            </div> -->
            <div class="e-card playing">
  <div class="image"></div>
  
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  

      <div class="infotop">
      <i class="fa-solid fa-desktop" style="font-size: 45px;"></i>
      
      <br>      
  Front End <br> Development
<br>
<div class="name">UI / UX Design</div>
  </div>
</div>
            <div class="e-card playing">
              <div class="image"></div>
              
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              
            
                  <div class="infotop">
            
                    <i class="fa-solid fa-gear" style="font-size: 50px;"></i><br>      
              Quality <br> Assurance
            <br>
            <div class="name">(QA) Testing</div>
              </div>
            </div>
          </div>
          <div class="row" data-aos="flip-right">
            <!-- <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.APIDev}}<br>{{allData[7]?.Development}}</h3>
                <div class="icon-wrapper">
                  <img src="../../../../assets/images/API.png" alt="">
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-6">
              <div class="service-card">
                <h3>{{allData[7]?.DevOps}}<br><span class="DevOpsDuplicate">{{allData[7]?.DevOps}}</span></h3>
                <div class="icon-wrapper">
                 
                  <img src="../../../../assets/images/Devops.png" alt="">
                </div>
              </div>
            </div> -->
            <div class="e-card playing">
              <div class="image"></div>
              
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              
            
                  <div class="infotop">
            
                    <i class="fa-brands fa-soundcloud" style="font-size: 60px;"></i><br>      
              API <br> Development
            <br>
            <div class="name">Interface</div>
              </div>
            </div>
            <div class="e-card playing">
              <div class="image"></div>
              
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              
            
                  <div class="infotop">
            
                    <i class="fa-brands fa-dev" style="font-size: 50px;"></i><br>      
              DevOps
            <br>
            <div class="name">Deployment</div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  


  