<section class="about_containerRidhi" id="Aboutoverview">
    <div class="about_container_main">
      <h1>{{allData[13]?.Overview}}</h1>
      <!-- <div class="graph_div">
              <div class="graph_cont"  data-aos="zoom-out-down">
                  <h1>{{allData[13]?.Years}}</h1>
                  <h2>{{allData[13]?.YService}}</h2>
              </div>
              <div class="border">
              </div>
              <div class="graph_cont"  data-aos="zoom-out-down">
                  <h1>200+</h1>
                  <h2>{{allData[13]?.Employees}}</h2>
              </div>
              <div class="border">
              </div>
              <div class="graph_cont"  data-aos="zoom-out-down">
                  <h1>50+</h1>
                  <h2>{{allData[13]?.TClients}}</h2>
              </div>
              <div class="border">
              </div>
              <div class="graph_cont"  data-aos="zoom-out-down">
                  <h1>5+</h1>
                  <h2>{{allData[13]?.Countries}}</h2>
              </div>
          </div> -->
      <div class="about_para_container" data-aos="fade-up" data-aos-duration="1000">
        <div class="about_para_cont">
          <p>{{allData[13]?.OverviewContent1}}</p>
        </div>
        <div class="about_para_cont">
          <p>{{allData[13]?.OverviewContent2}}</p>
        </div>
        <div class="about_para_cont">
          <p>{{allData[13]?.OverviewContent3}}</p>
        </div>
      </div>
    </div>
  </section>
  